2023-11-01T22:44:01+02:00	{"status":"200","request":"GET /v2/accounts?limit=9007199254740991 HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/home","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"7f3ff3c488f6bf89aa5824e0ca8f0839"}
2023-11-01T22:44:01+02:00	{"status":"200","request":"GET /v2/auth/available_roles HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/home","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"0bcaef3607b738c120ee1a148a134e55"}
2023-11-01T22:44:01+02:00	{"status":"200","request":"GET /rest/v2/accounts?limit=9007199254740991 HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/home","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T22:44:01+02:00	{"status":"200","request":"GET /rest/v2/auth/available_roles HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/home","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T22:44:01+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"0bcaef3607b738c120ee1a148a134e55"}
2023-11-01T22:44:01+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"7f3ff3c488f6bf89aa5824e0ca8f0839"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"GET /v2/user_profile HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"af09af45bf63382cec253115d96f50e7"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"GET /v2/account HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"6ffe29cfa1314f709d780024b6293325"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"GET /v2/user_settings HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"554dfa0ea3ad0d8e30b680136326d304"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"GET /rest/v2/user_profile HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"GET /rest/v2/account HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"GET /rest/v2/user_settings HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"GET /api/caller_identity HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"GET /api/account_lookup?internal_name=test HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"af09af45bf63382cec253115d96f50e7"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"6ffe29cfa1314f709d780024b6293325"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"554dfa0ea3ad0d8e30b680136326d304"}
2023-11-01T22:44:00+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"7d2389489ba1d9c8625a95e22c5a27f9"}
2023-11-01T22:43:58+02:00	{"status":"200","request":"GET / HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/w","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T21:54:37+02:00	{"status":"200","request":"GET /v2/auth/available_roles HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/home","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"d088a95e78cd3b79c96289e34e2a1436"}
2023-11-01T21:54:37+02:00	{"status":"200","request":"GET /v2/accounts?limit=9007199254740991 HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/home","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"3e02cc3ca4852b134f26aaf64b0634f6"}
2023-11-01T21:54:37+02:00	{"status":"200","request":"GET /rest/v2/auth/available_roles HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/home","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T21:54:37+02:00	{"status":"200","request":"GET /rest/v2/accounts?limit=9007199254740991 HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/home","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T21:54:37+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"d088a95e78cd3b79c96289e34e2a1436"}
2023-11-01T21:54:37+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"3e02cc3ca4852b134f26aaf64b0634f6"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"GET /v2/account HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"326f1989eae2846ad34dbf302e61b5ab"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"GET /v2/user_settings HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"bb6ffef2760daa9391fb233a65578c49"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"GET /v2/user_profile HTTP/1.0","request_method":"GET","http_host":"local-api.test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"ad9f0ce4296e562242cdb529f4044fbb"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"GET /rest/v2/account HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"GET /rest/v2/user_settings HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"GET /rest/v2/user_profile HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"GET /api/caller_identity HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"326f1989eae2846ad34dbf302e61b5ab"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"bb6ffef2760daa9391fb233a65578c49"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"ad9f0ce4296e562242cdb529f4044fbb"}
2023-11-01T21:54:36+02:00	{"status":"200","request":"POST /internal/generate_session_jwt HTTP/1.0","request_method":"POST","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"-","http_user_agent":"app-svc/21842 TEST/1.0","request_id":"e93c741af8cdf54e649cb292dbdac3ed"}
2023-11-01T21:54:35+02:00	{"status":"200","request":"GET /api/account_lookup?internal_name=test HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
2023-11-01T21:54:32+02:00	{"status":"200","request":"GET / HTTP/1.0","request_method":"GET","http_host":"test.io","http_xff":"127.0.0.1","http_referer":"https://test.io/w","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/119.0","request_id":"-"}
